/* footer start  */
footer {
  padding: 40px 20px;
  background: rgb(73, 192, 240);
  background: -moz-linear-gradient(
    top,
    rgba(73, 192, 240, 1) 0%,
    rgba(44, 175, 227, 1) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(73, 192, 240, 1) 0%,
    rgba(44, 175, 227, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(73, 192, 240, 1) 0%,
    rgb(33, 96, 121) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49c0f0', endColorstr='#2cafe3',GradientType=0 );
}
.footer-text {
  color: #fff;
}
.footer-link a {
  padding: 5px 10px;
  margin: 0 0 5px 0;
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  color: #fff;
  border: 1px solid transparent;
  transition: all 0.4s ease-in-out;
}
.footer-link a:hover {
  border: 1px solid #000000;
  background-color: rgb(32, 104, 199);
}
/* footer end  */
