.banner-bg {
  background-image: url(../images/3.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
}
.modal-dialog {
  max-width: 800px;
}
.para {
  text-align: justify;
}
