body {
  font-family: "Poppins", sans-serif;
}
/* common styles */
.heading {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
  color: #232524;
}

.slider-bg {
  height: 83vh;
  background-image: url(../images/2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slider-bg:nth-child(1) {
  background-image: url(../images/1.svg);
}
.slider-bg:nth-child(2) {
  background-image: url(../images/3.svg);
}
/* notice start */
.month_bg_color,
.date_bg_color {
  color: #fff;
}
.month_bg_color {
  background-color: rgb(10, 202, 199);
}
.date_bg_color {
  background-color: rgb(143, 132, 128);
}
/* notice end  */

/* calender start  */
.calendar {
  height: max-content;
  width: 100%;
  background-color: #fdfdfd;
  border-radius: 30px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  /* transform: scale(1.25); */
}

.calendar {
  box-shadow: rgb(0, 0, 0) 0px 0px 5px inset;
}
.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  color: #151426;
  padding: 10px;
}

.calendar-body {
  padding: 10px;
}

.calendar-week-day {
  height: 50px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: 600;
}

.calendar-week-day div {
  display: grid;
  place-items: center;
  color: #c3c2c8;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  color: #151426;
}

.calendar-days div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: relative;
  cursor: pointer;
  animation: to-top 1s forwards;
  /* border-radius: 50%; */
}

.calendar-days div span {
  position: absolute;
}

.calendar-days div:hover span {
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.calendar-days div span:nth-child(1),
.calendar-days div span:nth-child(3) {
  width: 2px;
  height: 0;
  background-color: #151426;
}

.calendar-days div:hover span:nth-child(1),
.calendar-days div:hover span:nth-child(3) {
  height: 100%;
}

.calendar-days div span:nth-child(1) {
  bottom: 0;
  left: 0;
}

.calendar-days div span:nth-child(3) {
  top: 0;
  right: 0;
}

.calendar-days div span:nth-child(2),
.calendar-days div span:nth-child(4) {
  width: 0;
  height: 2px;
  background-color: #151426;
}

.calendar-days div:hover span:nth-child(2),
.calendar-days div:hover span:nth-child(4) {
  width: 100%;
}

.calendar-days div span:nth-child(2) {
  top: 0;
  left: 0;
}

.calendar-days div span:nth-child(4) {
  bottom: 0;
  right: 0;
}

.calendar-days div:hover span:nth-child(2) {
  transition-delay: 0.2s;
}

.calendar-days div:hover span:nth-child(3) {
  transition-delay: 0.4s;
}

.calendar-days div:hover span:nth-child(4) {
  transition-delay: 0.6s;
}

.calendar-days div.curr-date,
.calendar-days div.curr-date:hover {
  background-color: #0000ff;
  color: #ffffff;
  border-radius: 50%;
}

.calendar-days div.curr-date span {
  display: none;
}

.month-picker {
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.month-picker:hover {
  background-color: #edf0f5;
}

.year-picker {
  display: flex;
  align-items: center;
}

.year-change {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 0 10px;
  cursor: pointer;
}
.year-change i {
  font-size: 16px;
}

.year-change:hover {
  background-color: #edf0f5;
}

.month-list {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fdfdfd;
  padding: 20px;
  grid-template-columns: repeat(3, auto);
  gap: 5px;
  display: grid;
  transform: scale(1.5);
  visibility: hidden;
  pointer-events: none;
}

.month-list.show {
  transform: scale(1);
  visibility: visible;
  pointer-events: visible;
  transition: all 0.2s ease-in-out;
}

.month-list > div {
  display: grid;
  place-items: center;
}

.month-list > div > div {
  width: 100%;
  padding: 5px 20px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  color: #151426;
}

.month-list > div > div:hover {
  background-color: #edf0f5;
}

@keyframes to-top {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* calender end  */

/* blog card start */
.charity-blog {
  /* box-shadow: 0px 0px 5px #232524; */
  transition: all 0.5s ease-in-out;
}
.charity-blog:hover {
  box-shadow: 0px 0px 20px #3451a1;
}
/* blog card end */

/* reach us  start*/
.contact {
  background-image: url(../images/1.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.social-link i {
  font-size: 40px;
  color: #ffffff;
  transition: 0.4s ease-in-out;
}
.social-link i:hover {
  font-size: 40px;
  color: #000000;
}
/* reach us end  */
.back-top {
  background-color: #3451a1;
}
